<p>appointments works!</p>
<p>appointments works!</p>
<p>appointments works!</p>
<p>appointments works!</p>
<p>appointments works!</p>
<p>appointments works!</p>
<p>appointments works!</p>
<p>appointments works!</p>
<!-- 
<table class="table mt-5">
    <thead>
        <tr>
            <th class="heading" scope="col">S.NO.</th>
            <th class="heading" scope="col">NAME</th>
            <th class="heading" scope="col">IMAGE</th>
            <th class="heading" scope="col">EMAIL</th>
            <th class="heading" scope="col">MOBILE NO.</th>
        </tr>
    </thead>
    <tbody class="justify-content-center">
        <tr >
            <th>{{i+1}}</th>
            <td>garvit</td>
            <td>
                <img src="../../../assets/image/asthama.jpg" width="80px" height="80px">
            </td>
            <td>garvit@gmail.com</td>
            <td>7772860260
            </td>
        </tr>
    </tbody>
</table> -->