@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


.intro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem;
}

.intro .image{
    flex:1 1 30rem;
}

.intro .image img{
    width: 500px;
    height: 50%;
}

.intro .content{
    flex:1 1 45rem;
    /* border: solid #2b734b;
 margin: 40px; */
}

.intro .content h3{
    font-size: 4.5rem;
    color:var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}



.intro .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:.8rem;
}
.intro .box-container a{
    color: #2b734b;
}
.intro .box-container .box{
    background:#fff;
    border-radius: .5rem;
    /* box-shadow: var(--box-shadow); */
    border: 1px solid #fff;
    padding: 2.5rem;
}
.intro .box-container .box:hover{
    border:var(--border);
    
    transition: 0.2s ease-in-out;

}
.intro .box-container  a:hover{
    text-decoration: none ;

}
.intro .box-container .box i{
    color: #2b734b;
    font-size: 5rem;
    padding-bottom: .5rem;
}

.intro .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.intro .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}
.intro .image h3{
    /* margin-left: 130px; */
    text-align: center;
    width: 450px;
    font-size: 2.5rem;
    color:var(--black);
    line-height: 1.8;
    
    text-shadow: var(--text-shadow);
}

.causes{
    /* display: flex; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* gap:1.5rem; */
    /* padding-top: 10rem; */
    padding-bottom: 5rem;
}

/* .causes .image{
    flex:1 1 45rem;
} */

/* .causes .image img{
    padding-top: 130px;
    width: 450px;
} */
/* .causes .image h3{
    margin-left: 130px;
    text-align: center;
    width: 450px;
    font-size: 3.5rem;
    color:var(--black);
    line-height: 1.8;
    
    text-shadow: var(--text-shadow);
} */

/* .causes .content{
    flex:1 1 45rem;
} */

.causes .content h3{
    font-size: 4.5rem;
    color:var(--black);
    line-height: 1.8;
    /* margin-left: 380px; */
    
    text-shadow: var(--text-shadow);
}

.causes .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    /* padding: 1rem 0; */
}




.remedies
{
    margin-bottom: 50px;
}

.remedies .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
    
}



.remedies .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.remedies .box-container .box p{
    color: var(--light-color);
        font-size: 1.4rem;
    line-height: 2;
    text-align: center;
}




.videos{
    margin-bottom: 55px;
}
.videos .box-container {
    /* display: -ms-grid; */
    /* display: grid; */
    gap: 5rem;
    display: flex;
    /* -ms-grid-columns: (minmax(26rem, 1fr)),[auto-fit]; */
        grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
    /* gap: 0.5rem; */
  }
  
  .videos .box-container .box {
    position: relative;
    margin-left: 200px;
    overflow: hidden;
    
  }
  .videos .box-container .static {
    position: relative;
    background: #fff;
    width: 370px;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 20px;
    
  }
 
  .videos .box-container .box iframe{
    width:560px;
     height:315px;

  }








.medicines .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.medicines .box-container .box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.medicines .box-container .box img{
    height: 20rem;
    /* border:var(--border); */
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.medicines .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

/* .medicines .box-container .box span{
    color:var(--green);
    font-size: 1.5rem;
} */
.medicines .box-container .box .bx{
    font-size: 25px;
}

.medicines .box-container .box .share{
    padding-top: 2rem;
}








.doctors .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}
.doctors .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

.doctors .box-container .box .image{
    height: 20rem;
    overflow:hidden;
    border-radius: .5rem;
}

.doctors .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.doctors .box-container .box .content{
    padding-top: 1rem;
}

.doctors .box-container .box .content .icon{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.doctors .box-container .box .content .icon a{
    font-size: 1.4rem;
    color: var(--light-color);
}

.doctors .box-container .box .content .icon a:hover{
    color:var(--green);
}

.doctors .box-container .box .content .icon a i{
    padding-right: .5rem;
    color: var(--green);
}

.doctors .box-container .box .content h3{
    color:var(--black);
    font-size: 3rem;
}

.doctors .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding:1rem 0;
}



/* media queries  */
  

.title {
    
    margin-bottom: 3rem;
    /* border-bottom: 0.1rem solid #ffa047; */
    padding-bottom: 1.5rem;
        
}
  
  
  
  .title a {
    font-size: 2.5rem;
    color: #779;
  }
  
  .title a:hover {
    color: #2b734b;
  }
  
.review
{
    margin-bottom: 50px;
    
}

.review .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
    
}



.review .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.review .box-container .box p{
    color: var(--light-color);
        font-size: 1.4rem;
    line-height: 2;
    text-align: center;
}

.livechat-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;

}
.livechat-text h2{
 font-size: 3rem;
 margin-bottom: 1rem;
}
.livechat-text p{
    font-size: 2rem;
    margin-bottom: 1rem;
   }
.livechat-content form{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    column-gap: 1rem;
}
.livechat-content form input{
    /* border: none; */
    /* padding: 15px; */
    /* outline-color: var(--main-color); */
    /* border-radius: 0.5rem; */
    /* font-size: 2rem; */
    /* color: var(--text-color); */
    margin-top: 5px;
}

.livechat-content form input::placeholder{
  font-size: 2.5rem;
  /* padding-left: 0.5rem; */
  /* background-color: rgb(239, 239, 254); */
  /* border: solid #2b734b; */
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }
     /* .intro .image img{ 
      width: 200px;
     } */
    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:768px) {
    .intro .image img {
       width: 380px;
       
        /* margin-left: 1px; */
   }
   .intro .image h3{
       /* padding-right: 15px; */
       /* left: 0; */
       width: 20px;
       text-align: center;
       /* right: 0; */
   }

   .videos .box-container .box{
       margin-left: 1px;
   }

   .videos .box-container .box iframe{
    width:360px;
     height:215px;

  }
}