
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<!-- home section starts  -->

<section class="causes" id="causes">

    <div class="image">
        <img src="{{disList.image}}" alt="">
        <h3  >{{disList.name}}</h3>

    </div>

    <div class="content">
        <h3>Causes</h3>
        <p>{{disList.causes}}</p>
       
    </div>

</section>

<!-- home section ends -->


<!-- services section starts  -->

<section class="remedies" id="remedies">

    <h1 class="heading"> home remedies </h1>

    <div class="box-container">

        <div class="box">
            <p>{{disList.homeRemedies}}</p>
          
        </div>


    </div>

</section>



<section class="videos" *ngIf="show" >
    <h1 class="heading"> yoga </h1>

    <div class="box-container">
        <!-- <div class="box" >
            <div class="static">
           <img src="../../assets/image/yoga_svg.svg2.svg" alt="">
        </div>
        </div> -->
        <div class="box"  >
            
            <div class="image">
                <iframe width="560" height="315" [src]="link | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
         
        </div>
    </div>

</section>


<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

<section class="medicines" id="medicines">

    <h1 class="heading"> medicines </h1>

    <div class="container" style="padding-bottom: 50px; padding-left: 35rem;"> 
   
</div>
    <div class="box-container"   >

        <div class="box" *ngFor ="let med of medicines| slice:0:3" >
            <img src="{{med.mId.image}}" alt="">
            <h3>{{med.mId.name}}</h3>
            <span>₹{{med.mId.price}}</span>
            <div class="share">
                <a routerLink="/cart" class="btn"> add to cart <i class='bx bxs-cart-add'></i> </a>
               
            </div>
        </div>
<!-- 
        <div class="box">
            <img src="../../assets/image/" alt="">
            <h3>alovera juice</h3>
            <span>₹100</span>
            <div class="share">
                <a href="#" class="btn"> add to cart <i class='bx bxs-cart-add'></i> </a>
                
            </div>
        </div> -->
        <!-- <div class="box">
            <img src="../../assets/image/" alt="">
            <h3>gilohe ghan vati</h3>
            <span>₹100</span>
            <div class="share">
                <a class="btn"> add to cart <i class='bx bxs-cart-add'></i> </a>
                
            </div>
        </div> -->
    <h1 class="title"> <a href="medicines">view all >></a> </h1>
        

    </div>

</section>

<section class="remedies" id="remedies">

    <h1 class="heading"> precaution </h1>

    <div class="box-container">

        <div class="box">
            <p>{{disList.precaution}}</p>
          
        </div>


    </div>

</section>

<!-- doctors section starts  -->



<section class="doctors" id="doctors">

    <h1 class="heading" > doctors </h1>

    <div class="box-container">

        <div class="box" *ngFor="let doc of doctor | slice:0:3" >
            <div class="image">
                <img src="{{doc.image}}" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a > <i class="fas fa-calendar"></i> experience {{doc.experience}}  </a>
                    <a> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3>{{doc.name}}</h3>
                <p>{{doc.speciality}}</p>
                <a routerLink="/book-appointment" class="btn">book appointment<span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>
        <!-- <div class="box">
            <div class="image">
                <img src="../assets/image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calendar"></i> experience 5 year </a>
                    <a href="#"> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3>Dr. jaya darwade</h3>
                <p>general doctor</p>
                <a  routerLink="/book-appointment" class="btn">book appointment<span class="fas fa-chevron-right"></span></a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../assets/image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calendar"></i> experience 5 year </a>
                    <a href="#"> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3>Dr. jaya darwade</h3>
                <p>general doctor</p>
                <a routerLink="/book-appointment" class="btn">book appointment<span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>
         -->
        <h1 class="title"> <a href="doctors">view all >></a> </h1>

    </div>

</section>
<section class="livechat">
    <div class="livechat-content container">
        <div class="livechat-text">
            <h2>Review!</h2>
            <p>Your valueable review can help others.share your review if we help you through our multiple health care solutions. </p>
        </div>
        <form action="" >
            <input type="text" name="" id="" placeholder="review.." reuired>
            <input type="submit" value="send" class="btn">
        </form>
    </div>
   </section>
<hr  >
<!-- doctors section ends -->
<router-outlet></router-outlet>

<ngx-spinner  bdColor="white" template="<img style = height:70px;
src='https://c.tenor.com/HT-Xm8vgUysAAAAC/load.gif' />" ><ngx-spinner>














