<p>medicine-details works!</p>
<p>medicine-details works!</p>
<p>medicine-details works!</p>
<p>medicine-details works!</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<section class="details">

    <div class="image">

        <img src="{{detail.image}}" />
        <a  (click)='add(detail._id)' routerLink="/cart" class="btn"> add to cart <i style="padding-left: 5px;font-size:21px;" class='bx bxs-cart-add'></i> </a>


    </div>

    <div class="content ">
        <h3>{{detail.name}}</h3>
        <h4>₹{{detail.price}}</h4>

        <p>{{detail.description}}</p>
        <h4>ingredients</h4>
        <p>{{detail.ingredients}}</p>
        <h4>uses</h4>
        <p>
            {{detail.uses}}
        </p>
        <h4>precaution</h4>
        <p>{{detail.precaution}}</p>
    </div>

</section>


<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading" style="font-size: 3.8rem;"> reviews </h1>

    <div class="box-container">

        <div class="box" *ngFor='let list of reviewList'>
            <img src="{{list.uId.image}}" alt=" ">
            <h3>{{list.uId.name}}</h3>
            <div class="stars ">
                <i class="fas fa-star "></i>
                <i class="fas fa-star "></i>
                <i class="fas fa-star "></i>
                <i class="fas fa-star "></i>
                <i class="fas fa-star-half-alt "></i>
            </div>
            <p class="text ">{{list.reviewText}}</p>
        </div>

    </div>

</section>

<!-- review section ends -->

<section class="livechat ">
    <div class="livechat-content container ">
        <div class="livechat-text ">
            <!-- <h2>Review!</h2> -->
            <p>Your valueable review can help others.share your review if we help you through our multiple health care solutions. </p>
        </div>
        <form action=" ">

            <input type="text " [(ngModel)]='revie' name=" " id=" " placeholder="review.. " reuired>
            <input type="submit " style="width:100%" (click)="review() " value="send " class="btn ">

        </form>
    </div>
</section>
<ngx-spinner  bdColor="white" template="<img style = height:70px;
src='https://c.tenor.com/HT-Xm8vgUysAAAAC/load.gif' />" ><ngx-spinner>
