<div class="card" style="font-size: 1.8rem; width: 1000px; margin-bottom: 40px;  ">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b> Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">ITEMS {{totalLength}}</div>
                </div>
            </div>
            <div class="row border-top border-bottom" *ngFor="let cart of cartList;index as i">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{cart.image}}"></div>
                    <div class="col">
                        <div class="row">{{cart.name}}</div>
                    </div>
                    <div class="col">
                        <input type="number" #val (change)="updateQuantity(val.value,cart.price,i)" value="1" min="1" max="6">
                    </div>
                    <div class="col">₹ {{cart.price}} <span (click)="removeCart(cart._id)" class="close">&#10005;</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Order Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS {{totalLength}}</div>
                <div class="col text-right">₹ {{subTotal}}</div>
            </div>
            <form #reform="ngForm">
                <p>SHIPPING ADDRESS</p>
                <input [(ngModel)]="address" name="address" type="text" placeholder="Enter your address" required #Address="ngModel">
                <span class='help-bpx' *ngIf="Address.touched && !Address.valid">Please Enter Address</span>
                <p>Mobile</p>
                <input [(ngModel)]="mobile" name='mobile' placeholder="Enter your mobile no." required #Mobile="ngModel">
                <span class='help-bpx' *ngIf="Mobile.touched && !Mobile.valid">Please enter mobile number</span>
                <!-- <span class="help-bpx" *ngIf="!Mobile.valid">Please enter valid number</span> -->
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">₹ {{subTotal}}</div>
            </div>
            <button [disabled]="!reform.valid" (click)="payment()" class="btn1">pay now</button>
        </div>
    </div>

</div>
<ngx-spinner  bdColor="white" template="<img style = height:70px;
src='https://c.tenor.com/HT-Xm8vgUysAAAAC/load.gif' />" ><ngx-spinner>