
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
    
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:#2b734b;
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
    color:#2b734b;

}
.footer .box-container .box a:hover {
    color:#2b734b;
     text-decoration: none;
}
.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:#2b734b;
}
.footer .box-container .box form input[type="email"] {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #2b734b;
    text-transform: none;
    margin: .7rem 0;
    border: 0.1rem solid #2b734b;
  }
  .footer .box-container .box form input[type="text"] {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #2b734b;
    text-transform: none;
    margin: .7rem 0;
    border: 0.1rem solid #2b734b;
  }
  
  .btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: #fff ;
    cursor: pointer;
    font-size: 1.7rem;
    background: var(--green);
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff ;
    margin-left: .5rem;
}

.btn:hover{
    background:#fff ;
    color:var(--green);
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}






