<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<!-- home section starts  -->



<section class="home" style="background: rgb(223, 249, 201) ;"  id="home">

<!-- <section class="home" style="background: rgb(217, 246, 194) ;" id="home"> -->


    <div class="image">
        <img src="../../../assets/image/Indian-Ayurveda-Centers-Welcome-removebg-preview.png" alt="">


    </div>

    <div class="content" id="search-content">

        <h3>True health care reforms from ayurveda</h3>

        <p>You have to just simply search your disease . we will provide you multiple genuine and ayurvedic solutions for the   treatment of your disease.</p>
         
            <form action="" class="search-form" id="search" #search  >
                <input type="search" (change)="navigate($event)"  placeholder="search here..." id="search-box">
                <label for="search-box"  ><i style="font-size: 30px;margin-top: 10px;" (click)="voice()"  class='bx bxs-microphone'></i></label>
            </form>


    </div>

</section>

<!-- home section ends -->


<!-- services section starts  -->

<section class="services" style="margin-top:50px" id="services">

    <h1 style="margin-bottom:20px ;" class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">

         <a  style="text-decoration: none;" href="#search-content">
            <i ><img src="../../../assets/image/causes.png" alt=""></i>
            


            <h3 style="padding-left:40px"  >causes</h3>
            <p style="text-align: center;" > search your disease than you will get cuase of your disease</p>
        </a> 
        </div>



        <div class="box">
            <a  style="text-decoration: none;" href="#search-content">


            <i  ><img src="../../../assets/image/patient.png" alt=""></i>


            <h3  >expert doctors</h3>
            <p style="padding-left: 10px;" >you can book appoint -ment for ayurvedic doctor </p>
            </a>
        </div>

        <div class="box">
            <a  style="text-decoration: none;" href="#search-content">


            <i ><img src="../../../assets/image/ayurvedic-medicine.png" alt=""></i>
            <h3 style="padding-left:20px" >  medicines</h3>


            <p  style="text-align: center;" >you can shop medicines from medicines page </p>
            </a>
        </div>

        <div class="box">

            <a  style="text-decoration: none;" href="#search-content">
            <i ><img   src="../../../assets/image/hinduist-yoga-position.png" alt=""></i>
            <h3 style="padding-left:10px" >yoga videos</h3>

            <p style="text-align: center;" >we will provide you yoga related your disease</p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
             </a>
        </div>



    </div>

</section>

<!-- services section ends -->

<section class="disease" style="margin-top:90px;background-color: #fff; " id="review">

    <h1 class="heading" style="margin-bottom:30px ;"> <span>diseases </span>we treat </h1>

    <div class="box-container">
        <div class="box">
            <a style="text-decoration: none; color:#fff " href="#search-content">
             <img src="../../../assets/image/digestive-white-icon.png" alt="">
             <h3 style="margin-top: 50px;">digestive</h3>
            </a>
        </div>

        <div class="box">
            <a style="text-decoration: none; color:#fff " href="#search-content">
 
              <img src="../../../assets/image/endocrine-white-icon.png" alt="">
              <h3 style="margin-top: 55px;">endocrine</h3>
            </a>
        </div>

                <div class="box">
                  <a style="text-decoration: none; color:#fff " href="#search-content">

                  <img src="../../../assets/image/hairandskin-white-icon.png" alt="">
                   <h3 style="margin-top: 50px;">hair and skin</h3>
                </a>
                </div>
       



        <div class="box">
        <a style="text-decoration: none; color:#fff " href="#search-content">

            <img src="../../../assets/image/jointpain-white-icon.png" alt="">
            <h3 style="margin-top: 45px;">joint pain</h3>
        </a>
        </div>

        
        <div class="box">
            <a style="text-decoration: none; color:#fff " href="#search-content">

            <img style="width: 100px;" src="../../../assets/image/brain.png" alt="">

            <h3 style="margin-top: 55px;" >Mental</h3>
            </a>

        </div>

        <div class="box">
            <a style="text-decoration: none; color:#fff " href="#search-content">

            <img style="width: 100px;" src="../../../assets/image/respiratory-white-icon.png" alt="">

            <h3 style="margin-top: 55px;" >Breathing</h3>
            </a>

        </div>
    </div>

    <!-- <a href="#search"> <button class="btn1" >many more</button></a> -->

</section>
<!-- about section starts  -->


<section class="about" style="margin-top:90px;background: rgb(223, 249, 201) ;"  id="about">


    <h1 class="heading" style="margin-bottom:10px ;"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="../../../assets/image/main.jpg" alt="">
        </div>

        <div class="content">
            <h3  >we take care of your healthy life</h3>
            <p>We are Promoting the Great Ancient Indian Ayurveda which provides us Genuine , Herbal solutions to treat small and dangerous disease Permanently. </p>
            <p>all soluiton which we are providing are from the experts and genuine and all the medicines are generic and all ayurvedic doctors are verified .</p>
        </div>

    </div>

</section>


<!-- icons section starts  -->

<section class="icons-container" style="background: #fff ;">

    <div class="icons">
        <i style="padding-top: 18px;" class="fas fa-user-md"></i>
        <h3>{{doctorList}}+</h3>
        <p>doctors at work</p>
    </div>

    <div class="icons">
        <i style="padding-top: 18px;" class="fas fa-users"></i>
        <h3>{{userList}}+</h3>
        <p>satisfied patients</p>
    </div>

    <div class="icons">

        <i><img  style="width: 50px ;" src="../../../assets/image/ayurvedic-medicine.png" alt=""></i>
        <h3>{{total}}+</h3>

        <p>medicines</p>
    </div>

    <div class="icons">

        <i><img src="../../../assets/image/autoimmune-disease.png" alt=""></i>
        <h3>{{diseas}}+</h3>

        <p>diseases we treat</p>
    </div>

</section>

<!-- icons section ends -->


<section class="review" style="margin-top:40px; " id="review">

    <h1 class="heading" style="margin-bottom:30px ;"> client's <span>review</span> </h1>


    <div class="box-container">
        <div class="box" *ngFor="let list of review">
            <img src="{{list.uId.image}}" alt="">
            <h3>{{list.uId.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>

            <p class="text">{{list.reviewText}}</p>

        </div>

       



<!--  review section ends -->















<!-- custom js file link  -->
<!-- <script src="js/script.js"></script> -->