<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<!-- home section starts  -->


<section class="home" style="background: rgb(223, 249, 201) ;"  id="home">

    <div class="image">
        <img  src="../../../assets/image/Indian-Ayurveda-Centers-Welcome-removebg-preview.png" alt="">


    </div>

    <div class="content" id="search-content">

        <h3>True health care reforms from ayurveda</h3>
        <p>You have to just simply search your disease . we will provide you multiple genuine and ayurvedic solutions for the   treatment of your disease.</p>
         
            <form action="" class="search-form" id="search" #search  >
                <input type="search" (change)="navigate($event)"  placeholder="search here..." id="search-box">
                <label for="search-box"  class="fas fa-search"></label>
            </form>

    </div>

</section>

<!-- home section ends -->


<!-- services section starts  -->

<section class="services" style="margin-top:50px" id="services">

    <h1 style="margin-bottom:20px ;" class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
         <a  style="text-decoration: none;" href="#search-content">
            <i ><img src="../../../assets/image/causes.png" alt=""></i>
            

            <h3 style="padding-left:30px"  >causes</h3>
            <p>you have to just search your disease than we will give you what is the cuase of your disease</p>
        </a> 
        </div>



        <div class="box">
            <a  style="text-decoration: none;" href="#search-content">

            <i  ><img src="../../../assets/image/patient.png" alt=""></i>

            <h3  >expert doctors</h3>
            <p>you can take appointment from doctors page</p>
            </a>
        </div>

        <div class="box">
            <a  style="text-decoration: none;" href="#search-content">

            <i ><img src="../../../assets/image/ayurvedic-medicine.png" alt=""></i>
            <h3 style="padding-left:20px" >  medicines</h3>

            <p  >you can shop medicines from medicines page </p>
            </a>
        </div>

        <div class="box">
            <a  style="text-decoration: none;" href="#search-content">
            <i ><img   src="../../../assets/image/hinduist-yoga-position.png" alt=""></i>
            <h3 style="padding-left:10px" >yoga videos</h3>
            <p>we will provide you yoga related your disease to cure your disease permanently</p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
             </a>
        </div>

        

    </div>

</section>

<!-- services section ends -->

<section class="disease" style="margin-top:90px;background-color: #fff; " id="review">

    <h1 class="heading" style="margin-bottom:30px ;"> <span>diseases </span>we treat </h1>

    <div class="box-container">
        <div class="box">
            <a style="text-decoration: none; color:#fff " href="#search-content">
             <img src="../../../assets/image/digestive-white-icon.png" alt="">
             <h3 style="margin-top: 50px;">digestive</h3>
            </a>
        </div>

        <div class="box">
            <a style="text-decoration: none; color:#fff " href="#search-content">
 
              <img src="../../../assets/image/endocrine-white-icon.png" alt="">
              <h3 style="margin-top: 55px;">endocrine</h3>
            </a>
        </div>

                <div class="box">
                  <a style="text-decoration: none; color:#fff " href="#search-content">

                  <img src="../../../assets/image/hairandskin-white-icon.png" alt="">
                   <h3 style="margin-top: 50px;">hair and skin</h3>
                </a>
                </div>
       



        <div class="box">
        <a style="text-decoration: none; color:#fff " href="#search-content">

            <img src="../../../assets/image/jointpain-white-icon.png" alt="">
            <h3 style="margin-top: 45px;">joint pain</h3>
        </a>
        </div>

        
        <div class="box">
            <a style="text-decoration: none; color:#fff " href="#search-content">

            <img style="width: 100px;" src="../../../assets/image/brain.png" alt="">
            <h3 style="margin-top: 55px;" >Mental</h3>
            </a>
        </div>
 
        <div class="box">
            <a style="text-decoration: none; color:#fff " href="#search-content">

            <img style="width: 100px;" src="../../../assets/image/respiratory-white-icon.png" alt="">
            <h3 style="margin-top: 55px;" >Breathing</h3>
            </a>
        </div>
        </div>
       
    <!-- <a href="#search"> <button class="btn1" >many more</button></a> -->

</section>
<!-- about section starts  -->

<section class="about" style="margin-top:90px;background: rgb(223, 249, 201) ;"  id="about">

    <h1 class="heading" style="margin-bottom:10px ;"> <span>about</span> us </h1>

    <div class="row"  >

        <div class="image">
            <img  src="../../../assets/image/main.jpg" alt="">
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero ipsam laborum porro voluptates voluptatibus a nihil temporibus deserunt vel?</p>
        </div>

    </div>

</section>

<!-- about section ends -->



<!-- review section starts  -->


<!-- <section class="review" id="review" >
    <div class="box-contianer">
<owl-carousel-o [options]="customOptions">

 <ng-template carouselSlide>
    <div class="box">
        <img src="../assets/image/pic-1.png" alt="">
        <h3>priyanshu</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente minus voluptatem, reiciendis consequuntur optio dolorem!</p>
    </div>

  </ng-template>  


  <ng-template carouselSlide>
    <div class="box">
        <img src="../assets/image/pic-1.png" alt="">
        <h3>priyanshu</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente minus voluptatem, reiciendis consequuntur optio dolorem!</p>
    </div>

  </ng-template> 



  <ng-template carouselSlide>
    <div class="box">
        <img src="../assets/image/pic-1.png" alt="">
        <h3>priyanshu</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente minus voluptatem, reiciendis consequuntur optio dolorem!</p>
    </div>

  </ng-template> 

</owl-carousel-o>
</div>
</section> -->

<!-- icons section starts  -->

<section class="icons-container" style="background: #fff ;">

    <div class="icons">
        <i style="padding-top: 15px;" class="fas fa-user-md"></i>
        <h3>{{doctorList}}+</h3>
        <p>doctors at work</p>
    </div>

    <div class="icons">
        <i style="padding-top: 15px;" class="fas fa-users"></i>
        <h3>{{userList}}+</h3>
        <p>satisfied patients</p>
    </div>

    <div class="icons">

        <i><img  style="width: 50px ;" src="../../../assets/image/ayurvedic-medicine.png" alt=""></i>
        <h3>{{total}}+</h3>

        <p>medicines</p>
    </div>

    <div class="icons">

        <i><img src="../../../assets/image/autoimmune-disease.png" alt=""></i>
        <h3>{{diseas}}+</h3>

        <p>diseases we treat</p>
    </div>

</section>

<!-- icons section ends -->


<section class="review"  style="margin-top:50px; " id="review">
    
    <h1 class="heading" style="margin-bottom:30px ;"  > client's <span>review</span> </h1>


    <div class="box-container">
        <div class="box">
            <img src="../assets/image/pic-2.png" alt="">
            <h3>mitanshi</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text"> After watching the yoga from this website my disease is cured </p>
        </div>

        <div class="box">
            <img src="../assets/image/pic-2.png" alt="">
            <h3>mitanshi</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text"> thank you for giving me genuine solutions</p>
        </div>

        <div class="box">
            <img src="../../assets/image/PicsArt_10-17-09.50.22.jpg" alt="">
            <h3>garvit</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text"> thanks great ayurveda for saving my life </p>
        </div>

    </div>

</section>




<!-- 
<owl-carousel-o [options]="customOptions">

    <ng-container>
        <ng-template carouselSlide>


        </ng-template>
    </ng-container>

</owl-carousel-o> -->

<!-- review section ends -->















<!-- custom js file link  -->
<!-- <script src="js/script.js"></script> -->