:root{
    --green:#2b734b ;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
  text-decoration: none;
    
}



.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
    /* padding-bottom: 10px; */
}

.header .navbar a:hover{
    color: #2b734b;
}
#menu{
    font-size: 1.5rem;
    border-radius: .5rem;
    background: #eee;
    color:#2b734b;
    padding: 1rem 1.5rem;
    cursor: pointer;
    /* display: none; */
}
.navbar .bx{
    padding-left:4px;
    padding-top:4px;
    font-size: 30px;
    /* background: #2b734b ; */
    color: var(--bg-color);
    border-radius: 5rem;
    cursor: pointer;
    }
    
    .dropdown .btn{
        padding-left: 50px;
        margin-left: 10px;

    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-menu {
      display: none;
      position: absolute;
      background-color: rgb(245, 241, 241);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-menu a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    } 
 
    .dropdown-menu a:hover {
      background-color: rgb(221, 245, 218);
      cursor: pointer;
      width: auto;
      transition: 0.2s ease-in-out;
    }
    .dropdown:hover .dropdown-menu {display: block;}
   

    .dropdown .btn :focus {
        box-shadow: none;
        }

        .btn1{
          display: inline-block;
          margin-top: 1rem;
          padding: .5rem;
          padding-left: 1rem;
          border:var(--border);
          border-radius: .5rem;
          box-shadow: var(--box-shadow);
          color:white;
          cursor: pointer;
          font-size: 1.7rem;
          background: #1e7947;
          width: 100%;
      }
      
      .btn1 span{
          padding:.7rem 1rem;
          border-radius: .5rem;
          background: #087037;
          color:#fff;
          margin-left: .5rem;
      }
      
      .btn1:hover{
          background: #087037;
          color:#fff;
      }
      
      .btn1:hover span{
          color: var(--green);
          background:#fff;
          margin-left: 1rem;
      }
        
.login-form {
    top: 0;
      background: #fff;
    padding: 0.8rem;
   
  }
  
.login-form form {
    padding: 1.7rem;
    /* border: 0.1rem solid #2b734b; */
  }
  
  .login-form form h3 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: #2b734b;
  }
  
  .login-form form .box {
    width: 100%;
    text-transform: none;
    font-size: 1.5rem;
    color: #2b734b;
    padding: 1rem 1.2rem;
    /* border: 0.1rem solid #2b734b; */
    box-shadow: -2px 4px 2px  rgba(209, 214, 211, 0.834);

    margin: 1rem 0;
  }
  
 
  
  .login-form form .btn {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  
  .login-form form p {
    /* padding-top: 0.5rem; */
    font-size: 1.4rem;
    color: #779;
  }
  
  .login-form form p a {
    color: #2b734b;
  }
  
  .login-form form p a:hover {
    text-decoration: underline;
  }
  form button{
    color: #fff;
    background-color: rgb(222, 16, 13);
    border: none;
    margin-top: 20px !important ;

    margin-bottom: 30px !important ;
    
}
           form button:hover{
  background-color: rgb(230, 87, 87);

}

.modal{
  width:365px ;
  margin-left: 910px;
}
/* #DrRegistrationModal{
  width:385px ;

} */
.modal-title{
  font-size: large;color:#2b734b;margin-left: 70px;
}



.shopping-cart::-webkit-scrollbar {
  width: 1rem;
}

.shopping-cart::-webkit-scrollbar-track {
  background: #fff;
}

.shopping-cart::-webkit-scrollbar-thumb {
  background: #087037;
}

.shopping-cart .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.shopping-cart .box .fa-times {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: #779;
  cursor: pointer;
}

.shopping-cart .box .fa-times:hover {
  color: #087037;
}

.shopping-cart .box img {
  height: 8rem;
}

.shopping-cart .box .content h3 {
  color: #087037;
  font-size: 1.8rem;
  padding-bottom: .5rem;
}

.shopping-cart .box .content span {
  font-size: 1.5rem;
  color: #779;
}

.shopping-cart .box .content span.multipy {
  margin: 0 1rem;
}

.shopping-cart .total {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  color: #779;
}

.shopping-cart .total span {
  color: #087037;
}
.login-form form span {
  color: red;
}


/* media queries  */
@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding: 2rem;
  }

  section{
      padding:2rem;
  }
  .modal{
    width:350px ;
    margin-left: 440px;
  }
  
}

@media (max-width:768px){

  #menu-btn{
      display: initial;
  }

  .header .navbar{
      position: absolute;
      top:115%; 
      right: 2rem;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      width: 21rem;
      border: var(--border);
      background: #fff;
      transform: scale(0);
      opacity: 0;
      transform-origin: top right;
      transition: none;
      padding-top: 5px;
      /* height: 880px; */
  }

  .header .navbar.active{
      transform: scale(1);
      opacity: 1;
      transition: .2s ease-out;
  }

  .header .navbar a{
      font-size: 2rem;
      display: block;
      margin-top:1.5rem;
      margin-left: 1.5rem;
      margin-right: 2.5rem;
  }
  .header .navbar .about-a{
    margin-right: 5rem;
  }
  .header .navbar .cart-a{
    margin-right: 8rem;
  }
  .modal{
    width:300px ;
    /* margin-left: 5px; */
  }
}

@media (max-width:415px){

  html{
      font-size: 50%;
  }
  /* .modal{
    width:365px ;
    margin-left: 930px;
  } */
  .modal{
    width:300px ;
    margin-left: 140px;
  }
}

@media(max-width:414px){
  .modal{
    width:300px ;
    margin-left: 120px ;
  }
  .modal-title{
      margin-left: 40px;
  }
}
@media(max-width:390px){
  .modal{
    width:300px ;
    margin-left: 90px ;
  }
}
@media(max-width:412px){

}