<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

<!-- header section starts  -->

<header class="header">

  <a routerLink= "" class="logo"><img src="../../assets/image/WhatsApp Image 2022-05-05 at 12.45.30 PM (2).jpeg"
      style="width:50px;height:min-content;" alt=""> The Great Ayurveda</a>

  <nav class="navbar" id="navbar" >
 
    <a routerLink ="appointments">appointments</a>
    <a routerLink ="reviews">reviews</a>
    <a href="#about" class="about-a">queries</a>
    <a  routerLink="/doctor-profile"  >
     <i class='bx bx-user-circle'></i>
    </a>

  

  </nav>
  <!-- <div  class="fas fa-bars" id="menu" #menu    ></div> -->
  
 
  
</header>




<router-outlet></router-outlet>