<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<section class="doctors" id="doctors">

    <h1 class="heading" style="padding-top: 110px;"> our <span>doctors</span> </h1>
  
    <div class="box-container">

        <div class="box" *ngFor='let list of speci'>
            <div class="image">
                <img src="{{list.image}}" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calendar"></i> experience {{list.experience}}</a>
                    <a href="#"> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3 style="text-overflow: hidden;overflow:hidden;white-space: nowrap;" >{{list.name}}</h3>
                <p style="text-overflow: hidden;overflow:hidden;white-space: nowrap;" >{{list.speciality}}</p>
                <h4 style="color: blue; cursor: pointer; " (click)='viewDetails(list._id)'><a>More information >></a> </h4>
                <a class="btn" (click)='appoin(list._id)'>book appointment<span class="fas fa-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

</section>
<router-outlet></router-outlet>
<ngx-spinner  bdColor="white" template="<img style = height:70px;
src='https://c.tenor.com/HT-Xm8vgUysAAAAC/load.gif' />" ><ngx-spinner>