<p>doctor-details works!</p>
<p>doctor-details works!</p>
<p>doctor-details works!</p>
<p>doctor-details works!</p>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<section class="details">

    <div class="image">
        <img src="{{detail.image}}" alt="">
        <a class="btn" (click)="appoin(detail._id)">book appointment<span class="fas fa-chevron-right"></span>
</a>
    </div>

    <div class="content ">
        <h3>{{detail.name}}</h3>
        <h4>degree </h4>
        <p>{{detail.degree}}</p>
        <h4>experience</h4>
        <p> {{detail.experience}}</p>
        <h4>clinic name </h4>
        <p>{{detail.clinicName}}</p>
        <h4>clinic address</h4>
        <p>
            {{detail.clinicAddress}}
        </p>
        <h4>clinic number</h4>
        <p>{{detail.clinicNo}}</p>
        <h4>clinic number</h4>

        <p>{{detail.clinicTiming}}</p>


    </div>

</section>


<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> review </h1>

    <div class="box-container">

        <div class="box">
            <img src="../assets/image/pic-1.png" alt="">
            <h3>priyanshu</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">yeh davai ne meri jindgi badal di hai me kabse pareshan tha</p>
        </div>

        <div class="box">
            <img src="../assets/image/pic-2.png" alt="">
            <h3>mitanshi</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">me aaj jinda hu keval is davai kai karan bahut jldi asar krti hai</p>
        </div>

        <div class="box">
            <img src="../../assets/image/PicsArt_10-17-09.50.22.jpg" alt="">
            <h3>garvit</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">thanks for selling great medicine and guidance</p>
        </div>

    </div>

</section>

<!-- review section ends -->




<section class="livechat">
    <div class="livechat-content container">
        <div class="livechat-text">
            <h2>Review!</h2>
            <p>Your valueable review can help others.share your review if we help you through our multiple health care solutions. </p>
        </div>
        <form action="">
            <input type="text" [(ngModel)]='revie' name="" id="" placeholder="review.." reuired>
            <input type="submit" (click)="review()" value="send" class="btn">
        </form>
    </div>
</section>