<h1>reviews work</h1>

    <table class="table">
        <thead>
            <th>S.no</th>
            <th>Name</th>
            <th>Image</th>
            <th>Review</th>
        </thead>
        <tbody>
            <tr *ngFor="let review of userReview index as i">
                <td>{{i+1}}</td>
               <td>{{review.uId.name}}</td>
               <td><img src="{{review.uId.image}}" height="100px" width="100px" style="border-radius: 8px;"></td>
               <td>{{review.reviewText}}</td>

            </tr>
        </tbody>

    </table>