<!-- <p>book-appointment works!</p>
<p>book-appointment works!</p>
<p>book-appointment works!</p> -->
<!-- booking section starts   -->

<section class="book" id="book">

    <h1 class="heading"> <span>book</span> now </h1>

    <div class="row">

        <div class="image">
            <img src="../../assets/image/book3.svg" alt="">
        </div>

        <form action="" #regform="ngForm">
            <input type="text" name="name" placeholder="patient name" [(ngModel)]="appointMent.patientName" class="box" required #Name="ngModel">
            <span class="help-bpx" style="color: red;" *ngIf="Name.touched && !Name.valid">Please enter valid Name</span>

            <input type="text" name="disease" placeholder="disease" [(ngModel)]="appointMent.disease" class="box" required #Disease="ngModel">
            <span class='help-bpx' style="color: red;"  *ngIf="Disease.touched && !Disease.valid">Please enter valid Email</span>
            <input type="text" name="disease" placeholder="mobile" [(ngModel)]="appointMent.mobile" class="box" required #Mobile="ngModel">
            <span class="help-bpx" style="color: red;"  *ngIf="Mobile.touched && !Mobile.valid">Please enter valid Mobile</span>
            <input type="text" name="age" placeholder="age" [(ngModel)]="appointMent.age" class="box" required #Age="ngModel">
            <span class='help-bpx' style="color: red;"  *ngIf="Age.touched && !Age.valid">Please enter valid Age</span>

            <input type="date" name="date" placeholder="Select Date" [(ngModel)]="appointMent.date" class="box" required #Date="ngModel">
            <!-- <span class='help-bpx' style="color: red;"  *ngIf="Date.touched && !Date.valid">Please enter valid Date</span> -->

            <input  class="btn" (click)="add()" [disabled]="!regform.valid" type="submit" value="book now" class="btn">
        </form>

    </div>

</section>
<router-outlet></router-outlet>
<!-- booking section ends -->