<p>book-appointment works!</p>
<p>book-appointment works!</p>
<p>book-appointment works!</p>
<!-- booking section starts   -->

<section class="book" id="book">

    <h1 class="heading"> <span>book</span> now </h1>    

    <div class="row">

        <div class="image">
            <img src="../../assets/image/book3.svg" alt="">
        </div>

        <form action="">
            <input type="text" name="name" placeholder="patient name" [(ngModel)]="appointMent.patientName" class="box">
            <input type="text" name="disease" placeholder="disease" [(ngModel)]="appointMent.disease" class="box">
            <input type="text" name="disease" placeholder="mobile" [(ngModel)]="appointMent.mobile" class="box">
            <input type="text" name="age" placeholder="age" [(ngModel)]="appointMent.age" class="box">
            <input type="date" name="date" placeholder="Select Date" [(ngModel)]="appointMent.date" class="box">

            <input (click)="add()" type="submit" value="book now" class="btn">
        </form>

    </div>

</section>
<router-outlet></router-outlet>
<!-- booking section ends -->
