<p>doctors works!</p>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<section class="doctors" id="doctors">

    <h1 class="heading" style="padding-top: 80px;"> our <span>doctors</span> </h1>
    <div class="container" style="padding-bottom: 50px; padding-left: 35rem;"> 
        <form action="" class="search-form" id="search" #search>
            <input type="search" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="../assets/image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calendar"></i> experience 5 year </a>
                    <a href="#"> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3>Dr. jaya darwade</h3>
                <p>general doctor</p>
                <a routerLink="/book-appointment" class="btn">book appointment<span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../assets/image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calendar"></i> experience 5 year </a>
                    <a href="#"> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3>Dr. jaya darwade</h3>
                <p>general doctor</p>
                <a  routerLink="/book-appointment" class="btn">book appointment<span class="fas fa-chevron-right"></span></a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../assets/image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calendar"></i> experience 5 year </a>
                    <a href="#"> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3>Dr. jaya darwade</h3>
                <p>general doctor</p>
                <a routerLink="/book-appointment" class="btn">book appointment<span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../assets/image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calendar"></i> experience 5 year </a>
                    <a href="#"> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3>Dr. jaya darwade</h3>
                <p>general doctor</p>
                <a  routerLink="/book-appointment" class="btn">book appointment<span class="fas fa-chevron-right"  ></span> </a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../assets/image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calendar"></i> experience 5 year </a>
                    <a href="#"> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3>Dr. mitanshi selar </h3>
                <p>mental specialist</p>
                <a routerLink="/book-appointment" class="btn"> book appointment <span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../assets/image/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fas fa-calendar"></i> experience 5 year </a>
                    <a href="#"> <i class="fas fa-user"></i> verified </a>
                </div>
                <h3>Dr. tanu kelde</h3>
                <p>stomach specialist</p>
                <a routerLink="/book-appointment" class="btn"> book appointment<span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>
        

    </div>

</section>
<router-outlet></router-outlet>