<p>medicines works!</p>
<p>medicines works!</p>
<p>medicines works!</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

<div class="containe" style="padding-top:22px ;">
</div>
<section class="medicines" id="medicines">
    <h1 class="heading"> our <span>medicines</span> </h1>
    <div class="container" style="padding-bottom: 50px; padding-left: 35rem;">
        <form action="" class="search-form" id="search" #search>
            <input type="search" (change)="navigate($event)" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <div class="box-container">
        <div class="box" *ngFor="let medicine of medicines">
            <img src="{{medicine.image}}" alt="">
            <h3 style="text-overflow: hidden;overflow:hidden;white-space: nowrap;">{{medicine.name}}</h3>
            <span style="font-size: 2rem; ">₹{{medicine.price}}</span>
            <h4><a   (click)="viewDetails(medicine._id)">more info >></a></h4>
            <div class="share" style="display: flex; gap: 8px;" >
                <a style="margin-left:70px ;" #cartButton (click)="add(medicine._id)" id="{{medicine._id}}" class="btn">add to cart<i class='bx bxs-cart-add'></i> </a>
                <!-- <a class="btn" (click)="viewDetails(medicine._id)">more info <span class="fas fa-chevron-right"></span>
                </a> -->
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>