
.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
  text-decoration: none;
    
}



.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
    /* padding-bottom: 10px; */
}

.header .navbar a:hover{
    color: #2b734b;
}
#menu{
    font-size: 1.5rem;
    border-radius: .5rem;
    background: #eee;
    color:#2b734b;
    padding: 1rem 1.5rem;
    cursor: pointer;
    /* display: none; */
}
.navbar .bx{
    padding-left:4px;
    padding-top:4px;
    font-size: 30px;
    /* background: #2b734b ; */
    color: var(--bg-color);
    border-radius: 5rem;
    cursor: pointer;
    }

