<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-4">
  
    
    <div class="card" style="border-radius: 15px;height: 85vh;box-shadow: var(--box-shadow); ">
            <div class="card-body text-center">
              <div class="mt-3 mb-4">
                <img src="../../assets/image/PicsArt_10-17-09.50.22.jpg"
                  class="rounded-circle img-fluid" style="width: 100px; border-radius:50% ;height: 100px; " />
              </div>
              <h4 style="font-size: 25px;" class="mb-2">garvit pathak</h4>
              
              <p style="margin-top:40px;margin-left:45px" ><a href="#">Edit Profile</a></p>
              <p style="margin-left:45px"><a href="#">Order history</a></p>
              <p style="margin-left:45px" ><a href="#">Remove account</a></p>
              <p style="margin-left:45px" ><a href="#">Help</a></p>
            
               <button type="button"  style="margin-top: 28px;" class="btn  btn-rounded btn-lg">
                Sign out
              </button>
              
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>